<div>
  <h1><% @board.title %></h1>
  <% @comments.each do |c| %>
    <div>
      <p><%= c.voice_number + " 名前：" + c.voice_name + ":" + c.posted_at + "ID:" + c.voice_id %></p>
    </div>
    <div>
      <p><%= c.voice_body %><p>
    </div>
  <% end %>
</div>
